* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 150vh;
    height: 220vh;
}
.slide-show {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
ul {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
 ul li .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: rotateY(0deg);
    transform-origin: left;
    transition: all 2s ease-in-out;
}
ul li input[type="checkbox"] {
    position: relative;
    top: 25em;
    z-index: 2;
    width: 18px;
    height: 18px;
    margin: 10px;
}
ul li input[type="checkbox"]:checked ~ .slide {
    transform: rotateY(90deg);
    transform-origin: left;
}
ul li .slide .text-form {
    color: purple;
    font-size: 20px;
    position: relative;
    padding: 25px;
    bottom: 35em;
    left: 17em;
    z-index: 5;
    border-radius: 20px;
    width: 700px;
    height: 400px;
    background: rgba(0,0,0,0.7);
}
.text-form h2 {
    font-size: 40px;
    text-transform: capitalize;
    padding: 10px;
}
.text-form .text span {
    font-style: italic;
    display: table-cell;
    animation: text 2s linear infinite;
}
.text-form .text span:nth-child(1) {
    animation-delay: 0s;
}
.text-form .text span:nth-child(2) {
    animation-delay: 0.25s;
}
.text-form .text span:nth-child(3) {
    animation-delay: 0.5s;
}
.text-form .text span:nth-child(4) {
    animation-delay: 0.75s;
}
.text-form .text span:nth-child(5) {
    animation-delay: 1s;
}
.text-form .text span:nth-child(6) {
    animation-delay: 1.25s;
}
.text-form .text span:nth-child(7) {
    animation-delay: 1.5s;
}
@keyframes text {
    0%, 100% {
        color: purple;
        filter: blur(2px);
        text-shadow: 0 0 50px yellow,
                     0 0 100px yellow,
                     0 0 150px   yellow,
                     0 0 200px    yellow,
                     0 0 250px    yellow,
                     0 0 300px    yellow,
                     0 0 350px     yellow;
        
    }
    5%, 95% {
        color: white;
        filter: blur(0px);
        text-shadow: none;
    }
}
.master {
    width: 400px;
    height: 400px;
    padding: 20px;
    background: black;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    color: white;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: yellowgreen;
    border-radius: 5px;
}
.master h3 {
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    text-decoration: underline;
    margin: 10px;
}
.master p {
    padding: 10px;
    margin: 10px;
}
.teemarh {
    width: 400px;
    height: 400px;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 40px;
}
.teemarh ul li {
    -webkit-text-stroke: 1px yellow;
    letter-spacing: 3px;
    -webkit-box-reflect:  below 2px  linear-gradient(rgba());
}